.App {
  padding: 10px;
  text-align: center;
}

.App-light {
  background-color: #e8cebf;
}

.App-dark {
  background-color: #676d55;
}

.react-switch-handle:hover {
  box-shadow: rgb(60, 190, 255) 0px 0px 2px 3px;
}

.content-area {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  .gameboard {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
  }
}