#two-dark {
  background-color: #384233;
}

#four-dark {
  background-color: #33423d;
}

#eight-dark {
  background-color: #495f58;
}

#sixteen-dark {
  background-color: #445456;
}

#thirty-two-dark {
  background-color: #4f6264;
}

#sixty-four-dark {
  background-color: #5f5860;
}

#one-twenty-eight-dark {
  background-color: #6c646e;
}

#two-fifty-six-dark {
  background-color: #968d98;
}

#five-twelve-dark {
  background-color: #8e706d;
}

#ten-twenty-four-dark {
  background-color: #9a7e7b;
}

#twenty-fourty-eight-dark {
  background-color: #a58c89;
}