#two-light {
  background-color: #ccd4c7;
}

#four-light {
  background-color: #a3b29b;
}

#eight-light {
  background-color: #84987a;
}

#sixteen-light {
  background-color: #859c9e;
}

#thirty-two-light {
  background-color: #677f82;
}

#sixty-four-light {
  background-color: #55696c;
}

#one-twenty-eight-light {
  background-color: #aebed8;
}

#two-fifty-six-light {
  background-color: #869ec4;
}

#five-twelve-light {
  background-color: #6c89b8;
}

#ten-twenty-four-light {
  background-color: #a8a2db;
}

#twenty-fourty-eight-light {
  background-color: #8077ca;
}