@media screen and (max-width : 550px) and (max-height: 700px) {
  .gameboard {
    width: 85%;

    &-header {
      margin-bottom: 0;

      &-c1 {
        padding: 0;
      }

      &-c2 {
        .new-game {
          height: fit-content;
          min-width: fit-content;
          flex-wrap: wrap;
        }
      }

      &-c3 {
        .best-score {
          width: fit-content;
        }
      }
    }

    &-board {

      &-row {

        .underlay {
          width: 7vw;
          height: 5vh;


          .board-tile {
            // padding: 2vw;
            width: 7vw;
            height: 5vh;
            margin: auto;
            // overflow: auto;

            .board-value {
              font-size: 1.65rem;
            }
          }
        }
      }
    }
  }
}